.collection-browser {
  padding: 1rem;
}

.collection-browser h4 {
  margin-bottom: 1rem;
}

.collection-browser .list-group-item {
  cursor: pointer;
}

.connection-status-header {
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.connected-db-name {
  font-weight: bold;
}

.collection-badge {
  font-size: 0.6rem;
  padding: 0.2em 0.5em;
  vertical-align: super;
  line-height: 1;
}
