h3 {
  margin-bottom: 1.5rem;
}

.connection-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.connection-details h4 {
  margin: 0;
}

.connection-uri {
  font-family: monospace;
  font-size: 0.9em;
  word-break: break-all;
}

.accordion-header .theme-icon {
  font-size: 1.2rem;
  position: relative;
  top: -3px;
}
